<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="section">
        <div class="container">
            <h3 class="title">
                Blogs
            </h3>

            <div class="content">
                <% if (blogs.length > 0) { %>
                    <% blogs.forEach(blog => { %>
                        <h4>
                            <%= blog.title %>
                        </h4>
            
                        <p>
                            <%= blog.description %> 
                        </p>
                    <% }) %>
                <% } else { %>
                    <h3>
                        No hay blogs
                    </h3>
                <% } %>
            </div>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>

</html>